.trapezoid{

    height: 0;
    width: 100px;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-bottom: 100px solid red;    

}

.heart{

    margin-left: 100px;
    height: 100px;
    width: 100px;
    background-color: violet;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-bottom: 100px solid red;

}